body{
    text-align: center;
    background-color: hsl(0,0%,85%);
}

#convertContainer{
    background-color: white;
    border: solid 2px black;
    border-radius: 8px;
    box-shadow: 0px 0px 5px blue, 0px 0px 8px red;
    margin: auto;
    width: 450px;
    height: 290px;

}

#enterTemp{
    text-align: center;
    margin-bottom: 15px;
    width: 50%;
    font-size: 2em;
    border: solid 2px black;
    border-radius: 8px;
}


label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 20px;
    border-radius: 8px;
    border: solid 2px black;
    background-color: hsl(0,100%,60%);
    color: white;
    font-size: 1.5em;
    padding: 5px 5px;
    cursor: pointer;
    

}

#showResult{
    font-size: 1.25em;
    font-weight: bold;
}

h3{
    font-size: 1.3em;
}